@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --text-black: #000000;
    --text-white: #ffffff;
    --text-grey : #848484;
    --text-hover-1: #ccc;
    --text-hover-2: #D10202;
    --background-hover-2: #D10202;
    --background-white: #ffffff;
    --background-black: #000000;
    --font-inter: 'Inter';
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-inter);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Animation */
@keyframes loginFadein {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cartFadein {
    from {
        opacity: 0;
        transform: translateX(350px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menuFadein {
    from {
        opacity: 0;
        transform: translateX(-350px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
}

.cart-modal.open,
.menu-modal.open,
.search-modal.open {
    display: block;
}
/* End reset css */




/* === Start Hearder css === */
#header {
    z-index: 10;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    background: var(--background-black);
    color: var(--text-white);
    font-size: 1.3rem;
}

.header-top-right {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.header-top-right a {
    color: var(--text-white);
}

.header-top-right {
    width: auto;
    height: 100%;
    gap: 0 20px;
}

.header-top-right .languages:hover > a,
.header-top-right .currency:hover> a {
    color: var(--text-hover-1);
}

.header-bottom {
    width: 100%;
    background: #efefef;
}

.header-bottom .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 50px;
}

.header-bottom .container > .item {
    flex: 1;
}

.header-b-left,
.header-b-right {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
}

.header-b-left a {
    color: var(--text-grey);
    padding-right: 35px;
}

.header-b-left a:hover {
    opacity: 0.8;
}

.header-b-center .logo {
    text-align: center;
}

.header-b-center img{
    width: 160px;
}

.header-b-right {
    justify-content: flex-end;
}

.header-b-right__item {
    padding: 12px;
    cursor: pointer;
    position: relative;
}

.header-b-right__item .icon {
    color: var(--text-grey);
}

.header-b__login {
    display: none;
    width: 350px;
    background: var(--background-white);
    padding: 30px;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: var(--shadow);
    animation: loginFadein ease .3s;
}

.header-b-right .user-icon:hover .header-b__login {
    display: block;
}

.header-b__login .input-signin input {
    width: 100%;
    height: 44px;
    padding: 9px 26px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    outline: none;
}

.header-b__login .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-b__login .action .btn-signin {
    padding: 7px 15px;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.05px;
    background: var(--background-black);
    border: none;
    outline: none;
    transition: .3s ease;
}

.header-b__login .action .btn-signin:hover {
    background: var(--background-hover-2);
}

.header-b__login .action .btn-signin a {
    color: var(--text-white);
}

.header-b__login .action .action__right{
    display: flex;
    align-items: center;
    gap: 0 5px;
    font-size: 1.4rem;
}

.create-account {
    margin-top: 10px;
}

.create-account a {
    display: inline-block;
    color: var(--text-black);
    font-size: 1.4rem;
}

.create-account a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.create-account a:hover::after {
    width: 100%;
}

.wishlist-icon .quantity,
.cart-icon .quantity {
    color: var(--text-white);
    font-size: 1.2rem;
    padding: 3px 8px;
    background: var(--background-black);
    position: absolute;
    border-radius: 100%;
    top: 0; right: 0;
}

.cart-modal,
.menu-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.cart-container,
.search-container {
    width: 345px;
    min-height: 100vh;
    padding: 30px;
    background: var(--background-white);
    position: absolute;
    right: 0;
    animation: cartFadein ease .5s;
}

.cart-content .close-cart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 3.4rem;
    cursor: pointer;
}

.cart-content .close-cart:hover i,
.menu-content .close-menu:hover i {
    color: var(--text-hover-2);
}

.cart-container .cart-content .cart-item {
    display: flex;
    align-items: center;
}

.cart-item .img-product img{
    width: 115px;
}

.cart-item .info {
    padding: 0 10px;
}

.cart-item .info .name-product {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.cart-item .info .quantity-product {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 10px;
}

.cart-item .info .quantity-product input {
    width: 22px;
    height: 22px;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-item .info .quantity-product span {
    font-size: 1.4rem;
}

.cart-item .info .price-product {
    font-size: 1.6rem;
}

.cart-item .remove-item i{
    font-size: 2rem;
    cursor: pointer;
}

.cart-item .remove-item i:hover {
    color: var(--text-hover-2);
}

.cart-container .cart-content .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.cart-container .cart-content .btn-cart button{
    width: 100%;
    border: 1px solid var(--background-black);
    margin: 5px 0;
    padding: 12px 26px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.cart-content .btn-cart .btn-view-cart {
    background: var(--background-white);
}

.cart-content .btn-cart .btn-view-cart:hover {
    border: 1px solid var(--background-hover-2);
}

.cart-content .btn-cart .btn-checkout {
    background: var(--background-black);
}

.cart-content .btn-cart .btn-checkout:hover {
    background: var(--background-hover-2);
    border: 1px solid var(--background-hover-2);
}

.cart-content .btn-cart .btn-view-cart a {
    color: var(--text-black);
}

.cart-content .btn-cart .btn-view-cart:hover a {
    color: var(--text-hover-2);
}

.cart-content .btn-cart .btn-checkout a {
    color: var(--text-white);
}

.menu-container {
    width: 345px;
    min-height: 100vh;
    background: var(--background-white);
    padding: 99px 50px;
    position: relative;
    animation: menuFadein .3s ease;
}

.menu-content .close-menu {
    position: absolute;
    top: 20px; right: 20px;
    font-size: 3.4rem;
    cursor: pointer;
}

.menu-content .menu-list {
    font-size: 2.8rem;
}

.menu-content .menu-list .item {
    padding: 10px 0;
}

.menu-content .menu-list .item a {
    display: inline-block;
    color: var(--text-black);
}

.menu-content .menu-list .item a:hover {
    color: var(--text-grey);
}

.menu-content .menu-list .item a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.menu-content .menu-list .item a:hover::after {
    width: 100%;
}

.search-modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-header h2 {
    font-weight: 400;
}

.search-header .close-search {
    font-size: 3rem;
    cursor: pointer;
}

.search-header .close-search:hover i {
    color: var(--text-hover-2);
}

.search-content .search--form {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    position: relative;
}

.search-content .search--form .search-input {
    padding: 12px 64px 12px 26px;
    border: 1px solid var(--text-grey);
    outline: none;
}
/* End header css */




/* === FOOTER === */
#footer {
    width: 100%;
    padding: 80px 0;
    border-top: 1px solid var(--text-grey);
}

.footer__container {
    width: 100%;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__container .item .logo img{
    width: 160px;
    height: auto;
    object-fit: cover;
}

.footer__container .item h6 {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.8rem;
}

.footer__container .item ul li {
    color: var(--text-grey);
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 22px;
    text-align: left;
    margin: 15px 0;
}

.footer__container .item ul li:hover span {
    color: var(--text-hover-2);
    cursor: pointer;
}

.footer__container .item p {
    color: var(--text-grey);
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 22px;
    text-align: left;
    margin: 15px 0;
}

.footer__input input {
    width: 100%;
    padding: 12px 26px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    line-height: 2.4rem;
    flex-basis: 0%;
    color: #999999;
    background: #ededed;
}

.footer__input .btn-input-footer {
    padding: 12px 10px;
    background: var(--background-black);
    color: var(--text-white);
    border: none;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
}

.footer__input .btn-input-footer:hover {
    background: var(--background-hover-2);
}

.footer__container .item .social-icons {
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    gap: 0 20px;
    color: var(--text-grey);
    margin-top: 20px;
}

.footer__container .item .social-icons i:hover {
    color: var(--text-hover-2);
    cursor: pointer;
}
/* End Footer css */



/* === Start Home css=== */
#banner,
.list-slide,
.slide {
    width: 100%;
}

#banner {
    height: auto;
    background: rgb(240, 240, 240);
    padding: 50px 0;
}

.list-slide .slide {
    display: flex;
    animation: fade .3s ease;
}

.list-slide .slide .banner-left,
.list-slide .slide .banner-right {
    width: 50%;
}

.list-slide .slide .banner-left {
    padding: 130px 0;
}

.banner-left .banner-info {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    margin-left: 50px;
}

.banner-left .banner-info .small-title {
    font-size: 1.8rem;
    font-weight: 300;
}

.banner-left .banner-info .title {
    font-size: 5.7rem;
    font-weight: 500;
    letter-spacing: 0.7rem;
}

.banner-left .banner-info span,
.banner-left .banner-info  a  {
    font-size: 1.8rem;
}

.banner-left .banner-info span > a,
.banner-left .banner-info  a  {
    color: var(--text-black);
    font-weight: 600;
    transition: .3s ease;
}

.banner-left .banner-info  a:hover{
    color: var(--text-hover-2);
}

.slide .banner-right .img {
    animation: bounce 2.5s ease;
    animation-iteration-count: infinite;
    z-index: -1;
}

.slide .banner-right .img img {
    width: 600px;
    height: auto;
}

#home-content.container {
    padding: 60px 50px;
    background: var(--background-white);
}

#home-content.container .category {
    width: 100%;
}

#category .category-title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#category .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#category .container .item {
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 0 30px;
    font-size: 1.5rem;
    position: relative;
}

#category .container .item:first-child {
    padding-left: 0;
}

#category .container .item:last-child {
    padding-right: 0;
}

#category .container .item .category-img {
    overflow: auto;
}

#category .container .item .category-img {
    overflow: hidden;
}

.container .item .category-img img{
    width: 120px;
    border-radius: 50%;
}

.category-info .quantity {
    font-weight: 400;
    margin-top: 5px;
}



/* Section banner sub  Home*/
.banner__container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 0 30px;
}

.banner__category--left {
    width: 50%;
}

.banner__category--left .section-top {
    margin-top: 66px;
}

.banner__category--left .section-top,
.banner__category--left .section-bottom {
    position: relative;
    cursor: pointer;
}

.banner__category--left .section-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
    z-index: -1;
}

.banner__category--left .section-top:hover img {
    transform: scale(1.1);
}

.banner__category--left .section-top h1 {
    font-size: 5rem;
    font-weight: 400;
    padding: 0 100px 0 0;
    position: absolute;
    top: 80px;
}

.banner__category--left .section-top a {
    color: var(--text-black);
    font-weight: 600;
    position: absolute;
    font-size: 1.5rem;
    bottom: 70px;
    left: 0;
    text-transform: uppercase;
}

.banner__category--left .section-top a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.banner__category--left .section-top a:hover::after {
    width: 100%;
}

.banner__category--left .section-bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.banner__category--left .section-bottom .info{
    position: absolute;
    top: 50px;
    left: 50px;
}

.banner__category--left .section-bottom .info h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.banner__category--left .section-bottom .info h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 10px 0 50px 0;
}

.banner__category--left .section-bottom .info a {
    color: var(--text-black);
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.banner__category--left .section-bottom .info a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.banner__category--left .section-bottom .info a:hover::after {
    width: 100%;
}

.banner__category--right {  
    width: 50%;
    position: relative;
}

.banner__category--right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__category--right .info {
    width: 100%;
    padding: 0 50px;
    color: var(--text-white);
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner__category--right .info h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

.banner__category--right .info h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 20px 0 50px 0;
}

.banner__category--right .info a {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-white);
    text-transform: uppercase;
    font-weight: 500;
}

.banner__category--right .info a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-white);
    transition: .3s ease;
}

.banner__category--right .info a:hover::after {
    width: 100%;
}

.banner__container--bottom .container {
    background: url("../img/banner/banner-3.jpg") top center / cover no-repeat;
    padding: 62px 42px;
    display: flex;
    align-items: center;
    gap: 0 40px;
    margin-top: 30px;
}

.banner__container--bottom .container > span {
    font-size: 7.2rem;
    font-weight: 600;
}

.banner__container--bottom .container .info h2 {
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.banner__container--bottom .container .info p {
    font-size: 1.8rem;
}

.banner__container--bottom .container .info p span {
    font-weight: 600;
}

#product-home {
    margin-top: 80px;
}

.product-home__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}

.product-home__container .main-title {
    background: var(--background-white);
    padding-right: 50px;
}

.product-home__container .main-title h2 {
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin-bottom: 30px;
}

.product-home__container .main-title a {
    font-size: 1.5rem;
    color: var(--text-black);
}

.product-home__container .main-title a:hover {
    color: var(--text-hover-2);
}

.product-home__container .item .img-product {
    position: relative;
}

.product-home__container .item .img-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-home__container .item .img-product .quick-view,
.product-home__container .item .img-product .compare,
.product-home__container .item .img-product .wishlist {
    position: absolute;
}

.product-home__container .item .img-product .quick-view,
.product-home__container .item .img-product .compare,
.product-home__container .item .img-product .wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--background-white);
    font-size: 2.5rem;
    right: 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

.product-home__container .item .img-product .quick-view,
.product-home__container .item .img-product .compare {
    transform: translateY(50px);
    opacity: 0;
}

.product-home__container .item .img-product .quick-view:hover,
.product-home__container .item .img-product .compare:hover,
.product-home__container .item .img-product .wishlist:hover {
    color: var(--text-white);
    background: var(--background-hover-2);
}

.product-home__container .item .img-product .quick-view {
    bottom: 160px;
}

.product-home__container .item .img-product .compare {
    bottom: 110px;
}

.product-home__container .item .img-product .wishlist {
    bottom: 60px;
}

.product-home__container .item .img-product .btn-product {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    color: var(--text-black);
    background: var(--background-white);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(20px);
    opacity: 0;
}

.product-home__container .item .img-product .btn-product:hover {
    color: var(--text-white);
    background: var(--background-hover-2);
}

.product-home__container .item:hover .img-product .quick-view,
.product-home__container .item:hover .img-product .compare {
    transform: translate(0);
    opacity: 1;
}

.product-home__container .item:hover .img-product .btn-product{
    transform: translateY(0);
    opacity: 1;
}

.product-home__container .item .info-product {
    font-size: 15px;
    letter-spacing: 0.1rem;
    margin-top: 10px;
}

.product-home__container .item .info-product a{
    display: block;
    color: var(--text-black);
    margin-bottom: 10px;
}

.product-home__container .item .info-product .price {
    font-weight: 600;
}

#home-blog {
    width: 100%;
    margin-top: 50px;
}

.home-blog__container .title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: left;
}

.home-blog__container .blog {
    display: flex;
    align-items: center;
    gap: 0 50px;
    margin-top: 30px;
}

.home-blog__container .blog .blog__img {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.home-blog__container .blog .blog__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.home-blog__container .blog .blog__img img:hover {
    transform: scale(1.1);
}

.home-blog__container .blog .blog__img .date-time {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 10px;
    background: var(--background-white);
    font-size: 1.5rem;
    letter-spacing: 0.75px;
}

.home-blog__container .blog .blog__content {
    width: 50%;
}

.blog .blog__content .entry-meta-top {
    font-size: 1.4rem;
    margin-bottom: 19px;
}

.blog .blog__content .entry-meta-top a {
    color: var(--text-grey);
    transition: .2s ease;
}

.blog .blog__content .entry-meta-top a:hover {
    color: var(--text-hover-2);
}

.blog .blog__content .heading-title {
    font-size: 3rem;
    letter-spacing: 0.75px;
    line-height: 36px;
    margin-bottom: 15px;
}

.blog .blog__content .heading-title a {
    color: var(--text-black);
}

.blog .blog__content .description {
    font-size: 1.7rem;
    color: var(--text-grey);
    margin-bottom: 12px;
}

.blog .blog__content .button-reead-more {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 23px;
    padding: 2px 0px;
    color: var(--text-black);
}

.blog .blog__content .button-reead-more::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.blog .blog__content .button-reead-more:hover::after {
    width: 100%;
}


#home__img-footer {
    width: 100%;
    height: 600px;
    position: relative;
}

#home__img-footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home__img-footer .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
    font-weight: bolder;
    letter-spacing: 1.5rem;
    color: rgba(204, 204, 204, 0.3);
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
/* End Home css */





/* Css for button roll to top */
#toTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    outline: none;
    background: var(--background-black);
    color: var(--text-white);
    cursor: pointer;
}




/* Section Breadcrumb */
.breadcrumb-content {
    font-size: 1.5rem;
    grid-area: auto;
    letter-spacing: 0.75px;
    line-height: 24px;
    padding: 0 50px;
    text-align: center;
}

.breadcrumb-content .breadcrumb-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: auto;
    padding: 56px 0;
}

.breadcrumb-content .breadcrumb-title .breadcrumb-container {
    line-height: 20px;
}

.breadcrumb-container a {
    color: var(--text-grey);
    display: inline-block;
}

.breadcrumb-container a:hover {
    text-decoration: underline;
}

.breadcrumb-container .btn-arrow {
    color: var(--text-grey);
    margin: 0 8px;
}

.breadcrumb-container .current {
    color: var(--text-black);
}

.breadcrumb-content .breadcrumb-title .heading-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 30px 0px 4px;
    text-align: center;
} 
/* End Breadcrumb */



/* Start Login css */
.lg-container {
    width: 100%;
}

.lg-wrapper {
    width: 100%;
}

.lg-box {
    width: 100%;
    padding-bottom: 50px;
}

.lg-content {
    padding: 0 15px;
    width: 100%;
    display: block;
}

.lg-content__title {
    text-align: center;
    font-size: 40px;
    color: var(--text-black);
    font-weight: 700;
    margin-bottom: 20px;
}

.lg-form {
    width: 100%;
    padding: 20px;
    display: block;
}

.lg-form__lable-email,
.lg-form__lable-password{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: var(--text-black);
    font-weight: 600;
}

.lg-form__lable-email span,
.lg-form__lable-password span {
    color: red;
    margin-left: 5px;
}

.lg-form__input-email,
.lg-form__input-password {
    width: 100%;
    padding: 12px 26px;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 24px;
    color: #253d4e;
    border: 1px solid #ebebeb;
    outline: none;
    margin-bottom: 16px;
}

.lg-form-row{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    gap: 0 20px;
}

.lg-btn{
    width: auto;
    background: var(--background-black);
    padding: 12px 26px;
    color: white;
    font-size: 1.4rem;
    list-style: 24px;
    letter-spacing: 1.05px;
    margin: 6px 30px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    outline: none;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.lg-btn a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.lg-btn:hover {
    background: var(--background-hover-2);
}

.lg-form-row .form-checkbox {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.lg-form-row .form-checkbox span {
    color: var(--text-black);
    font-size: 1.5rem;
    font-weight: 600;
}

.lost_Password a {
    display: inline-block;
    color: var(--text-black);
    font-size: 1.5rem;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.75px;
}

.lost_Password a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.lost_Password a:hover::after {
    width: 100%;
}
/* End Login css */




/* Start Register css */
.rg-container {
    width: 100%;
}

.rg-wrapper {
    width: 100%;
}

.rg-box {
    width: 100%;
    padding-bottom: 50px;
}

.rg-content {
    padding: 0 15px;
    width: 100%;
    display: block;
}

.rg-content__title {
    text-align: center;
    font-size: 40px;
    color: var(--text-black);
    font-weight: 700;
    margin-bottom: 20px;
}

.rg-form {
    width: 100%;
    padding: 20px;
    display: block;
}

.rg-form__lable-user,
.rg-form__lable-email,
.rg-form__lable-password{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: var(--text-black);
    font-weight: 600;
}

.rg-form__lable-user span,
.rg-form__lable-email span,
.rg-form__lable-password span {
    color: red;
    margin-left: 5px;
}

.rg-form__input-user,
.rg-form__input-email,
.rg-form__input-password {
    width: 100%;
    padding: 12px 26px;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 24px;
    color: #253d4e;
    border: 1px solid #ebebeb;
    outline: none;
    margin-bottom: 16px;
}

.rg-form-row{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    gap: 0 20px;
}

.rg-btn{
    width: auto;
    background: var(--background-black);
    padding: 12px 26px;
    color: white;
    font-size: 1.4rem;
    list-style: 24px;
    letter-spacing: 1.05px;
    margin: 6px 30px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    outline: none;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.rg-btn a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.rg-btn:hover {
    background: var(--background-hover-2);
}
/* End Registe css */




/* Start Cart css */
.woocommerce {
    display: flex;
    padding: 0 50px;
}

.cart-form {
    width: 65%;
    background: var(--background-white);
    height: auto;
}

.cart-table  {
    width: 100%;
}

.cart-table tr th {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

.cart_item .product-thumbnail {
    padding: 30px 0;
}

.cart_item .product-thumbnail a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart_item .product-name {
    padding: 0 30px;
    text-wrap: wrap;
}

.cart_item .product-name,
.cart_item .product-price,
.cart_item .product-subtotal {
    font-size: 1.5rem;
}

.cart_item .product-price,
.cart_item .product-subtotal {
    font-weight: 600;
}

.cart_item .product-quantity div {
    display: inline-block;
    background: #ededed;
}

.cart_item .product-quantity input {
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
}

.cart_item .product-remove {
    font-size: 1.5rem;
    cursor: pointer;
}

.cart_item .product-remove:hover {
    color: var(--text-hover-2);
}

.cart-form .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.cart-form .action .coupon {
    position: relative;
    text-align: inherit;
    border: 1px solid #ededed;
}

.cart-form .action .coupon input {
    float: left;
    width: 300px;
    padding: 12px 145px 12px 20px;
    border: none;
    outline: none;
}

.cart-form .action .coupon button {
    height: 100%;
    float: right;
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    color: var(--text-black);
    font-weight: 700;
    font-size: 1.5rem;
}

.cart-form .action .coupon button:hover {
    color: var(--text-hover-2);
}

.cart-form .action .btn_action button{
    padding: 12px 20px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.cart-form .action .btn_action .empty-cart {
    border: 1px solid #ebebeb;
    background: var(--background-white);
}

.cart-form .action .btn_action .empty-cart:hover {
    color: var(--text-hover-2);
    border-color: #D10202;
}

.cart-form .action .btn_action .update-cart {
    border: none;
    background: var(--background-black);
    color: var(--text-white);
}

.cart-form .action .btn_action .update-cart:hover {
    background: var(--background-hover-2);
}

.cart-collaterals {
    width: 35%;
    height: auto;
    background: #efefef;
    padding: 30px;
}

.cart-collaterals .cart-total h2{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 24px;
}

.shop_table .shop_table_heading,
.shop_table .icon,
.shop_table .total  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 30px 0;
    border-bottom: 1px solid var(--text-grey);
}

.shop_table .btn-action button {
    width: 100%;
    padding: 12px 26px;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    background: var(--background-black);
    color: var(--text-white);
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease;
}

.shop_table .btn-action button:hover {
    background: var(--background-hover-2);
}

#cart-products {
    padding: 50px;
}

#cart-products .title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: left;
}
/* End Cart css */




/* Start Check out css */
#check_out-content {
    padding: 0 50px;
}

.woocommerce-info {
    width: 100%;
    padding: 13px 25px;
    background: #efefef;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 24px;
    margin: 0px 0px 16px;
    text-align: left;
}

.woocommerce-info a {
    display: inline-block;
    color: var(--text-black);
    font-weight: 600;
}

.woocommerce-info a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: var(--background-black);
    transition: .3s ease;
}

.woocommerce-info a:hover::after {
    width: 100%;
}

.checkout-wrapper {
    display: flex;
    margin-top: 50px;
}

.woocommerce-billing-field {
    width: 65%;
    height: auto;
    background: var(--background-white);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 24px;
    padding-right: 40px;
    margin: 0px 0px 20px;
    text-align: left;
}

.woocommerce-billing-field .field-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 30px;
    margin-top: 20px;
}

.woocommerce-billing-field .field-name .first_name,
.woocommerce-billing-field .field-name .last_name {
    width: 50%;
}

.woocommerce-billing-field label {
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 24px;
    padding: 0px 0px 13px;
    text-align: left;
}

.woocommerce-billing-field  input {
    width: 100%;
    background: var(--background-white);
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 24px;
    padding: 12px 26px;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    outline: none;
}

.woocommerce-billing-field span {
    color: red;
}


.field-company_name,
.field-location,
.field-street,
.field-postcode,
.field-town-city,
.field-phone,
.field-email,
.field-account_user,
.field-password,
.field-note {
    margin-top: 24px;
}

.woocommerce-billing-field .check-box input {
    width: auto;
}

.woocommerce-billing-field .check-box > span {
    font-size: 1.5rem;
    color: var(--text-black);
}

.field-note textarea {
    width: 100%;
    border: 1px solid #ebebeb;
    outline: none;
}

.order_review {
    width: 35%;
    height: auto;
    background: var(--background-white);
}

.order_review .container {
    height: auto;
    background: #efefef;
}

.order_review_heading {
    padding: 30px 30px 0px;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 24px;
    text-align: left;
}

.order_review .container .shop_table {
    padding: 30px;
}
/* End Check out css */



/* Start Search css */
.filter{
    width: 500px;
    position: relative;
    margin: auto;
}

.filter .item input {
    width: 100%;
    padding: 12px 26px;
    border: 1px solid #ededed;
    outline: none;
}

.filter .item .btn-search {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 26px;
    border: none;
    outline: none;
    background: var(--background-black);
    color: var(--text-white);
    cursor: pointer;
    transition: .3s;
}

.filter .item .btn-search:hover {
    background: var(--background-hover-2);
}

#list_Products-search {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    padding: 0 50px 100px 50px;
    margin-top: 100px;
}

#list_Products-search .item .img-product {
    position: relative;
}

#list_Products-search .item .img-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#list_Products-search .item .img-product .quick-view,
#list_Products-search .item .img-product .compare,
#list_Products-search .item .img-product .wishlist {
    position: absolute;
}

#list_Products-search .item .img-product .quick-view,
#list_Products-search .item .img-product .compare,
#list_Products-search .item .img-product .wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--background-white);
    font-size: 2.5rem;
    right: 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

#list_Products-search .item .img-product .quick-view,
#list_Products-search .item .img-product .compare {
    transform: translateY(50px);
    opacity: 0;
}

#list_Products-search .item .img-product .quick-view:hover,
#list_Products-search .item .img-product .compare:hover,
#list_Products-search .item .img-product .wishlist:hover {
    color: var(--text-white);
    background: var(--background-hover-2);
}

#list_Products-search .item .img-product .quick-view {
    bottom: 160px;
}

#list_Products-search .item .img-product .compare {
    bottom: 110px;
}

#list_Products-search .item .img-product .wishlist {
    bottom: 60px;
}

#list_Products-search .item .img-product .btn-product {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    color: var(--text-black);
    background: var(--background-white);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(20px);
    opacity: 0;
}

#list_Products-search .item .img-product .btn-product:hover {
    color: var(--text-white);
    background: var(--background-hover-2);
}

#list_Products-search .item:hover .img-product .quick-view,
#list_Products-search .item:hover .img-product .compare {
    transform: translate(0);
    opacity: 1;
}

#list_Products-search .item:hover .img-product .btn-product{
    transform: translateY(0);
    opacity: 1;
}

#list_Products-search .item .info-product {
    font-size: 15px;
    letter-spacing: 0.1rem;
    margin-top: 10px;
}

#list_Products-search .item .info-product a{
    display: block;
    color: var(--text-black);
    margin-bottom: 10px;
}

#list_Products-search .item .info-product .price {
    font-weight: 600;
}
/* End Search css */




/* Start Categories css */
#categories-container {
    padding: 0 50px;
}

#categories-container .category {
    padding: 30px 0;
}

#categories-container .page-container {
    padding: 60px 0px;
    display: flex;
}

#left-sidebar.ts-sidebar {
    width: 25%;
    height: auto;
    background: var(--background-white);
    padding-right: 30px;
}

#left-sidebar.ts-sidebar .widget-title-wrapper {
    padding: 10px 20px;
    background: #efefef;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    line-height: 24px;
    text-align: left;
}

#left-sidebar.ts-sidebar .widget-title-wrapper h3 {
    font-size: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.ts-product-categories-widget-wrapper {
    padding: 30px 20px 45px;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 24px;
    text-align: left;
}

.ts-product-categories-widget-wrapper .cat-item {
    display: list-item;
    font-size: 1.5rem;
    grid-area: auto;
    letter-spacing: 0.75px;
    line-height: 20px;
    padding: 0px 0px 8px;
    text-align: left;
}

.ts-product-categories-widget-wrapper .cat-item a {
    color: var(--text-black);
    display: inline-block;
    font-size: 1.5rem;
    grid-area: auto;
    letter-spacing: 0.75px;
    line-height: 20px;
    text-align: left;
}

.ts-product-categories-widget-wrapper .cat-item a:hover {
    color: #848484;
}

#primary.site-content {
    width: 75%;
    height: auto;
    background: var(--background-white);
}

.before-loop-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.before-loop-wrapper .gridlist-toggle span {
    font-size: 3rem;
}

.before-loop-wrapper .cat-filter,
.cat-filter .show-products {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.cat-filter .show-products,
.cat-filter .sort {
    background: #efefef;
    padding: 8px 15px;
    font-size: 1.4rem;
    letter-spacing: 0.32px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}

#primary.site-content .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}

#primary.site-content .products .item .img-product {
    position: relative;
}

#primary.site-content .products .item .img-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#primary.site-content .products .item .img-product .quick-view,
#primary.site-content .products .item .img-product .compare,
#primary.site-content .products .item .img-product .wishlist {
    position: absolute;
}

#primary.site-content .products .item .img-product .quick-view,
#primary.site-content .products .item .img-product .compare,
#primary.site-content .products .item .img-product .wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--background-white);
    font-size: 2.5rem;
    right: 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

#primary.site-content .products .item .img-product .quick-view,
#primary.site-content .products .item .img-product .compare {
    transform: translateY(50px);
    opacity: 0;
}

#primary.site-content .products .item .img-product .quick-view:hover,
#primary.site-content .products .item .img-product .compare:hover,
#primary.site-content .products .item .img-product .wishlist:hover {
    color: var(--text-white);
    background: var(--background-hover-2);
}

#primary.site-content .products .item .img-product .quick-view {
    bottom: 160px;
}

#primary.site-content .products .item .img-product .compare {
    bottom: 110px;
}

#primary.site-content .products .item .img-product .wishlist {
    bottom: 60px;
}

#primary.site-content .products .item .img-product .btn-product {
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    color: var(--text-black);
    background: var(--background-white);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
    position: absolute;
    bottom: 0px;
    left: 0;
    transform: translateY(20px);
    opacity: 0;
}

#primary.site-content .products .item .img-product .btn-product:hover {
    color: var(--text-white);
    background: var(--background-hover-2);
}

#primary.site-content .products .item:hover .img-product .quick-view,
#primary.site-content .products .item:hover .img-product .compare {
    transform: translate(0);
    opacity: 1;
}

#primary.site-content .products .item:hover .img-product .btn-product{
    transform: translateY(0);
    opacity: 1;
}

#primary.site-content .products .item .info-product {
    font-size: 15px;
    letter-spacing: 0.1rem;
    margin-top: 10px;
}

#primary.site-content .products .item .info-product a{
    display: block;
    color: var(--text-black);
    margin-bottom: 10px;
}

#primary.site-content .products .item .info-product .price {
    font-weight: 600;
}

#primary.site-content .page-numbers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#primary.site-content .page-numbers li {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    margin: 0 5px;
    cursor: pointer;
    transition: .3s ease;
}

#primary.site-content .page-numbers li:hover {
    background: var(--background-black);
}

#primary.site-content .page-numbers li:hover a,
#primary.site-content .page-numbers li:hover i {
    color: var(--text-white);
}

#primary.site-content .page-numbers li a,
#primary.site-content .page-numbers li i {
    color: var(--text-black);
    font-size: 1.5rem;
}
/* End Categories css */



/* Start Detail css */
#detail-container {
    display: flex;
    padding: 0 50px;
}

#detail-container .img_products {
    width: 50%;
    height: auto;
    background: var(--background-white);
}

#detail-container .img_products .image img {
    width: 100%;
    object-fit: cover;
}

#detail-container .products_detail {
    width: 50%;
    height: auto;
    background: var(--background-white);
    padding-left: 50px;
    letter-spacing: 0.75px;
    text-align: left;
}

#detail-container .products_detail h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 36px;
    margin: 0px 0px 24px;
}

#detail-container .products_detail .products_rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 0px 0px 39px;
}

#detail-container .products_detail .products_rating .lable {
    margin-left: 30px;
}

#detail-container .products_detail .products_rating .availability-text {
    color: #40bf52;
}

#detail-container .products_detail .products_price {
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin: 0px 0px 11px;
}

#detail-container .products_detail .products_price .price {
    font-size: 3.6rem;
    letter-spacing: 0.9px;
    line-height: 3.6rem;
}

#detail-container .products_detail .products_price .old-price {
    color: #959595;
    font-size: 2rem;
    letter-spacing: 0.9px;
    line-height: 2rem;
}

#detail-container .products_detail .description {
    color: #848484;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 50px;
}

#detail-container .products_detail .products_attribute {
    margin-bottom: 50px;
}

#detail-container .products_detail .products_attribute .title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 16px;
    margin: 0px 0px 20px;
    text-transform: uppercase;
}

.products_attribute .attribute {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.products_attribute .attribute .option-color {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 1px solid #848484;
    cursor: pointer;
}
.products_attribute .attribute .option-color:hover {
    border-color: var(--text-black);
}

.products_attribute .attribute .option-color img {
    width: 100%;
    object-fit: cover;
}

.products_detail .quantity.button-cart {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px 0px 20px;
}

.products_detail .quantity.button-cart .btn-quantity {
    background: #ededed;
    display: inline-block;
}

.products_detail .quantity.button-cart .btn-quantity input{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.products_detail .quantity.button-cart .btn-add-cart button {
    padding: 12px 26px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-white);
    background: var(--background-black);
    letter-spacing: 1.05px;
    line-height: 24px;
    border: 1px solid var(--text-black);
    margin-left: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.products_detail .quantity.button-cart .btn-add-cart:hover button {
    background: var(--background-hover-2);
    border-color: var(--background-hover-2);
}

#detail-container .products_detail .btn-buy-products {
    width: 100%;
    padding: 12px 26px;
    color: var(--text-black);
    background: var(--background-white);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1.05px;
    line-height: 24px;
    margin: 0px 0px 25px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--text-black);
    transition: .3s ease;
    cursor: pointer;
}

#detail-container .products_detail .btn-buy-products:hover {
    color: var(--text-hover-2);
    border-color: var(--text-hover-2);
}

#detail-container .products_detail .sigle-products-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    color: var(--text-black);
    margin-bottom: 24px;
}

#detail-container .products_detail .sigle-products-button span:hover,
.sigle-products-button .social i:hover {
    color: var(--text-hover-2);
    cursor: pointer;
}

.sigle-products-button .social {
    font-size: 2.4rem;
}

#detail-container .products_detail .meta-content {
    padding-top: 24px;
    border-top: 1px solid #ebebeb;
    text-align: left;
    font-size: 1.4rem;
}

#detail-container .products_detail .meta-content a {
    color: #848484;
}

#detail-container .products_detail .meta-content a:hover {
    color: var(--text-hover-2);
}

.sku-wrapper .sku {
    color: #848484;
}

.detail-tabs {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin-top: 100px;
}

.detail-tabs .tab a {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-black);
    letter-spacing: 0.625px;
    line-height: 24px;
    text-align: left;
    background: var(--background-white);
    padding: 15px 35px;
}

.detail-tabs .tab.active a {
    font-weight: 700;
    background: #efefef;
}

.tap-des {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.tap-des .left,
.tap-des .right {
    width: 50%;
}

.tap-des li {
    font-size: 1.5rem;
    padding: 6px 0;
    color: var(--text-black);
    font-weight: 600;
    text-align: left;
    left: 0.75px;
    line-height: 24px;
}
/* End Detail css */